.DS_Store
**/.venv
**/__pycache__
**/figs
**/latex_files
hslu_thesis.pdf
**/.vscode
**/.env
unused_images/
runs
yolov8m-oiv7.pt
yolov8n-oiv7.pt
Laura/bounding_boxes/
Laura/bounding_boxes_inference_only/
best_model.pt
