.DS_Store
**/.venv
**/__pycache__
**/figs
**/latex_files
hslu_thesis.pdf
**/.vscode
**/.env
unused_images/
runs
yolov8m-oiv7.pt
yolov8n-oiv7.pt
Laura/bb_y8m/
Laura/bb_y8m_inference_only/
Laura/bb_low_y8m/
best_model.pt
Laura/DiffCL_images/
**/uv.lock
Laura/img
Laura/MoBI_outputs/
Laura/sam2
Laura/Depth-Anything-V2
Laura/.ipynb_checkpoints/
Laura/DifCL_images/
Laura/infer.py
MoBI_outputs/
taming-transformers/
Laura/pyproject.toml
